
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env
*.egg
*.egg-info/
dist/
build/
.eggs/
Pipfile.lock
poetry.lock
htmlcov/
.coverage
.tox/
.nox/
.cache/
*.spec
*.log
*.pot
*.mo
*.sqlite3
*.db
*.bak
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.ipynb_checkpoints/
.mypy_cache/
.pyright/
.pylint.d/
.pytest_cache/
Thumbs.db
ehthumbs.db
Desktop.ini
